.box-style{
    display: inline-block;
    width: 400px;
    /* 1er. forma de crear un margen */
     /*margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;*/
    /* 2da. forma de crear un margen*/
     /*margin: 30px; 10px*/
     /*3ra. forma de crear una margen*/
     margin: 45px;
     /*padding-top: 25px;
     padding-left: 25px;
     padding-bottom: 25px;
     padding-right: 25px;*/
     padding: 0px 45px;
     text-align: justify;
     /* por defecto viene en 0*/
     letter-spacing: .1em;
     /* por defecto viene en 0*/
     word-spacing: .2em;
     /* por defecto viene en 1.2em*/
     line-height: 2em;
    
     
}

.box-1{
    border: 10px solid blue;
    color: #ff0000;
    background-color: azure;
    border-radius: 10px;
    
}   
.box-2{
    border: 10px groove green;
    color: rgb(3, 35, 105);
    background-color: azure;
    border-radius: 10px;
}
.box-3{
    border: 10px  double brown;
    color: rgb(96, 28, 28);
    background-color:azure;
}
.box-4{
    border: 10px outset royalblue;
    color: rgb(58, 18, 58);
    background-color: azure;
}
    

